
<%- include('../partials/header') %>


<form id="new-form" action="/experiences" method="POST">
 <label>Name:</label>
 <input type="text" name="name">
 <label>Created On:</label>
 <input type="date" name="experiences-date">
 <label>Target Deadline</label>
 <input type="date" name="deadline">
 <label>Location:</label>
 <input type="text" name="location">
 <input type="submit" value="Add Experience">
</form>


<%- include('../partials/footer') %>